.card{
    background-color: white;
    border-radius: 10px;
    width: 17%;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 13px;
    box-sizing: border-box;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 0;
}

.sky-blue{
    font-size: 20px;
    color: rgb(0, 157, 255);
    margin-bottom: 10px;
}
.green{
    font-size: 20px;
    color: rgb(0, 255, 81);
    margin-bottom: 10px;
}
.purple{
    font-size: 20px;
    color: rgb(68, 25, 241);
    margin-bottom: 10px;
}
.red{
    font-size: 20px;
    color: rgb(244, 22, 22);
    margin-bottom: 10px;
}
.orange{
    font-size: 20px;
    color: rgb(255, 111, 0);
    margin-bottom: 10px;
}
@media (max-width: 576px){
    .card{
        width: 130px;
        height: 100px;
    }
}
.library-text{
    font-size: 12px;
    font-family: 'Roboto';
    color: black;
    margin-bottom: 10px;
}
.library-date{
    font-size: 10px;
    font-family: 'Roboto';
    color: rgb(77, 76, 76);
    margin-bottom: 10px;
}

@media (min-width: 576px) {
    .card{
        margin-right: 25px;
        margin-bottom: 25px;
        padding: 20px;
        width: 20%;
    }
    .library-text{
        font-size: 14px;
    }
    .library-date{
        font-size: 12px;
    }
}

@media (min-width: 576px) and (max-width: 676px){
    .card{
        margin-right: 25px;
        margin-bottom: 25px;
        padding: 20px;
        width: 24%;
    }
    .library-text{
        font-size: 14px;
    }
    .library-date{
        font-size: 12px;
    }
}
@media (min-width: 900px){
    .card{
        margin-right: 25px;
        margin-bottom: 25px;
        padding: 20px;
        width: 16%;
    }
    .library-text{
        font-size: 14px;
    }
    .library-date{
        font-size: 12px;
    }
}
